.dropdown {
  width: 250px;

  .dropdown-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;

    .dropdown-icon {
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &.flipped {
        transform: rotate(180deg);
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .dropdown-menu {
    max-height: 60dvh;
    overflow-y: auto;

    .clear-search {
      cursor: pointer;
    }

    .dropdown-item {
      cursor: pointer;
      height: 35px;

      &:hover {
        background-color: #f0f0f0;
      }
      &:active {
        background-color: none;
        color: inherit;
      }
    }
  }
}
