@import "../../../../index.scss";

.filters-section {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 100%;
  gap: 10px;
  padding: 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-border);

  .dropdowns {
    display: flex;
    min-width: 230px;
    width: 100%;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
  }

  .clear {
    width: 120px;
  }
}

.assessment-table-container {
  flex: 1;
  width: 100%;
  overflow: auto;
  background-color: white;
  border: 1px solid var(--color-gray-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
