@import "../../../index.scss";

// Local styles specific to assessments page
.assessments-container {
  @extend .content-container;
  margin: 0;
}

.assessment-type-card-wrapper {
  padding-bottom: 7px;
}

.assessment-type-card {
  @extend .content-card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);

  h2 {
    @extend .card-title;
    font-size: 1.2rem;
    color: var(--color-primary);
  }

  p {
    @extend .card-content;
    flex: 1;
    align-items: start;
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #64748b;
  }

  .assessment-type-icon {
    color: var(--color-primary);
    margin-right: 10px;
  }

  &:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover {
    h2::before {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }
}
