@use "sass:color";

:root {
  --color-primary: #35446e;
  --color-primary-hover: #{color.adjust(#35446e, $lightness: -4%)};
  --color-primary-light: #{color.adjust(#35446e, $lightness: 10%)};
  --color-primary-lighter: #{color.adjust(#35446e, $lightness: 20%)};
  --color-primary-dark: #1e293b;
  --color-primary-darker: #0f172a;
  --color-white: #ffffff;
  --color-dark: rgb(32, 32, 32);
  --color-light-gray: #f8fafc;
  --color-medium-gray: #94a3b8;
  --color-active-bg: #{color.adjust(#35446e, $lightness: 5%)};
  --color-active-border: #3a5ab1;
  --color-gray-border: #e2e8f0;
  --color-hover-light: rgba(255, 255, 255, 0.1);
  --box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 43%) !important;
  --color-scrollbar-track: #f1f5f9;
  --color-scrollbar-thumb: #cbd5e1;
  --color-scrollbar-thumb-hover: #94a3b8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  height: 100dvh;
  width: 100dvw;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  color: #212529;
}

// Buttons - Global styles
.lumex-btn {
  font-size: 1rem;
  padding: 0 16px;
  height: 38px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &.secondary {
    background-color: var(--color-primary-dark);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-darker);
    }
  }

  &.outline {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &:disabled {
    background-color: var(--color-medium-gray);
    cursor: not-allowed;
  }
}

.page-main-content {
  padding: 15px 20px;
  height: calc(100vh - 60px - 70px); /* Full height minus navbar and header */
  overflow: auto;
  flex: 1;

  // Style scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }
}
